@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
.errormessage {
  color: rgb(240, 100, 100);
  font-size: 13px;
}
div.space {
  height: 20%;
}
.space1{
    height:15%;
}
ion-title {
  font-family: "Open Sans", sans-serif;
}
ion-input{
    border-radius:20px !important;
}
