#imgseller {
    padding-left: 20%;
    padding-top: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
}
#head {
    border-bottom: 2px solid black;
    background-color: #c45602;
}
ion-title#greet {
    color: white;
}

#logout {
    position: absolute;
    bottom: 0;
    text-align: center;
}